body {
    background: url(../images/swirl_pattern.png); /* Background pattern from Toptal Subtle Patterns */
}

.name{
    font-family: 'Fredoka One', cursive;
    font-size: 28px;
    padding: 20px;
}

.nav-link{
    font-family: 'Fredoka One', cursive;
}

.fontStyle{
    font-family: 'Nunito Sans', sans-serif;
}

.title{
    font-family: 'Fredoka One', cursive;
}

.navbar-light{
    background-color: salmon;
    border-bottom: 2px solid black;
}

.navbar{
    margin-bottom: 40px;
}

.biopic{
    height: 300px;
    width: 300px;
    margin-right: 10px;
    border: 2px solid black;
}

.container{
    background-color: salmon;
    padding: 25px;
    border: 2px solid black;
}