body {
    background: url(../images/swirl_pattern.png); /* Background pattern from Toptal Subtle Patterns */
}

.name{
    font-family: 'Fredoka One', cursive;
    font-size: 28px;
    padding: 20px;
}

.nav-link{
    font-family: 'Fredoka One', cursive;
}

.fontStyle{
    font-family: 'Roboto Mono', sans-serif;
}

.navbar-light{
    background-color: salmon;
    border-bottom: 2px solid black;
}

.navbar{
    margin-bottom: 40px;
}

.biopic{
    height: 300px;
    width: 300px;
    margin-right: 10px;
    border: 2px solid black;
}

.container{
    background-color: salmon;
    padding: 15px;
    border: 2px solid black;
}

@media screen and (max-width: 768px){

}

/*<div class="row col-12">
            <h1 class="fontStyle">About Me</h1>
        </div>

        <div class="row">
          <div class="col-12 col-md-6 col-lg-4">
            <img src="Assets/images/biopic.jpg" class="img-fluid biopic" alt="Brian Vu">
          </div>
        
          <p class="fontStyle col-md-6 col-lg-8">
                My name is Brian Vu, and I am currently a part-time student at UT Austin's Coding Boot Camp. 
                Currently, I work full time as a lab technician at a research lab in the medical center. As 
                this website shows, I am very interested in learning the skills to become a web developer. 
                My current goal is to pursue a career in web development and programming, and I believe the 
                boot camp is a great way to get a foot in the door. <br> <br>
                In my free time, I enjoy playing video games (though I need to be careful because if I get
                immersed, hours would go by unnoticed), reading, and watching sports. I don't have much time 
                for games these days but when I do, I play a game or two of Counter-Strike. But these days I 
                find it more enjoyable to read and watch TV. I'm currently reading The Dark Elf Trilogy by 
                R. A. Salvatore, and I tend to gravitate towards fantasy and sci-fi genres. I'm a huge fan of 
                basketball and football. As a Houston native, I will always cheer for Houston teams, but I 
                enjoy watching any good teams play. I also watch Formula 1, e-sports, listen to all sorts of 
                music genres, etc. Basically what I'm saying is, if you ever meet me in person, there are 
                probably things we have in common that we could talk about! <br> <br>
                Anyways, I've gone on long enough. Feel free to browse my portfolio and contact me!
          </p>
        </div>*/